@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
li,
span,
p,
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  white-space: normal;
  font-size: 14px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/*home*/
.home-actuality {
  width: max-content;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.home-card-post {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  row-gap: 38px;
}

.home-card-description {
  background-color: #FBFCFC;
  padding: 15px 41px 30px 41px;
}

.home-card-userProfil {
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  padding: 28px 41px 15px 41px;
}

.home-actuality-new-comment {
  margin-top: 160px;
}

.home-card-userStatus {
  display: flex;
  column-gap: 48px;
  align-items: flex-start;
}
.home-card-userStatus .home-card-description-name {
  font-size: 16px;
  margin-bottom: 0;
}
.home-card-userStatus .home-card-description-status {
  font-size: 12px;
  margin: 0;
}
.home-card-userStatus .home-card-description-date {
  font-size: 12px;
  margin-top: 10px;
}

.home-card-container {
  width: 728px;
  box-shadow: 0px 0px 20px rgba(60, 104, 170, 0.35);
  border-radius: 1.5em;
}

.image-profil-form-home {
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.image-profil-form-home-reply {
  height: 64px;
  width: 64px;
  overflow: hidden;
}

.home-profil-names {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
}

.home-image-post {
  object-fit: scale-down;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.home-image-post-container {
  height: 218px;
  width: 100%;
  overflow: hidden;
}

.home-image-reply-container {
  height: 100%;
  width: 264px;
  overflow: hidden;
}

.img-comment-content {
  background: #F6F6F6;
  border-radius: 0em 1.5em 1.5em 1.5em;
  padding: 15px 31px;
  width: 44%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  column-gap: 26px;
  margin-top: 20px;
}

.img-comment-form {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.img-comment-size {
  height: 118px;
  width: 168px;
  overflow: hidden;
}
.img-comment-size .img-comment {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.home-card-reaction-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 14px;
  padding: 0px 14px 0px 43px;
}
.home-card-reaction-container .home-icon-post {
  font-size: 20px;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 1.5em;
  cursor: pointer;
}
.home-card-reaction-container .home-icon-post:hover {
  margin: 10px;
  background: #F6F6F6;
  padding: 10px;
  border-radius: 1.5em;
}
.home-card-reaction-container .heartEmpty {
  font-size: 26px;
  stroke-width: 24px;
  stroke: #312E3E !important;
  color: transparent;
}
.home-card-reaction-container .iconEmpty {
  font-size: 26px;
  stroke-width: 24px;
  stroke: #312E3E !important;
  color: transparent;
}
.home-card-reaction-container .active-none-empty {
  display: none;
}
.home-card-reaction-container .heartFull {
  font-size: 26px;
  stroke-width: 24px;
  color: red;
}
.home-card-reaction-container .notFull {
  display: none;
}
.home-card-reaction-container .active-comment {
  margin: 10px;
  color: transparent;
  background: #F6F6F6;
  padding: 10px;
  border-radius: 1.5em;
}
.home-card-reaction-container .active-comment svg {
  font-size: 26px;
  stroke-width: 24px;
  stroke: #312E3E !important;
}
.home-card-reaction-container .active-comment .heartFull {
  color: black;
}
.home-card-reaction-container .active-comment .heartEmpty {
  color: transparent;
}

.comment-and-numbers {
  display: flex;
  align-items: center;
}

.home-cardreply-actuality {
  width: 100%;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/*partie cardreply*/
.home-cardreply-container {
  width: 658px;
  margin-left: 32px;
  border-top: 1.5px solid #d0d0d0;
}
.home-cardreply-container .home-cardreply-userProfil {
  column-gap: 20px;
  display: flex;
  padding: 28px 16px 15px 16px;
}
.home-cardreply-container .home-cardreply-description {
  padding: 10px 16px 10px 0px;
}

.home-cardreply-description-text {
  padding: 10px 0px 10px 0px;
}

.home-profil-names-reply {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
  justify-content: space-between;
}
.home-profil-names-reply .home-card-usersStatus-second-col p {
  font-weight: 400;
}
.home-profil-names-reply .home-card-description-date {
  font-weight: 400;
}

.home-card-userStatus-reply {
  background: #F6F6F6;
  border-radius: 0em 1.5em 1.5em 1.5em;
  padding: 15px 31px;
  width: 100%;
}

.home-profil-names-container-reply {
  display: flex;
  column-gap: 3px;
}

.home-profil-names-and-status-reply {
  display: flex;
  flex-direction: column;
}

.home-card-usersStatus-second-col p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-card-left-part {
  display: flex;
  column-gap: 20px;
}

.icon-modifier {
  font-size: 22px;
  display: flex;
  column-gap: 23px;
}

textarea {
  width: 96%;
  height: max-content;
  resize: none;
  padding: 12px;
}

.btn-update-comment {
  font-size: 12px;
  width: 200px;
  padding: 10px 16px;
  border-radius: 1.5em;
  color: #fff;
  text-align: center;
  border-width: 0px;
  box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
  background-color: #3c68aa;
  float: right;
  margin-bottom: 40px;
  cursor: pointer;
}
.btn-update-comment p {
  margin: 0;
}
.btn-update-comment:hover {
  background-color: #1e4278;
}

.button-UpdateComment {
  margin-top: 24px;
}

.new-post-text-and-picture {
  display: flex;
  align-items: center;
  border-radius: 1.5em;
  border: 1px solid;
  padding: 12px;
  column-gap: 43px;
  background: white;
}
.new-post-text-and-picture textarea {
  border: none;
  padding: 0;
}
.new-post-text-and-picture :hover {
  border: unset;
  outline-offset: unset;
  outline: unset;
  color: unset;
}
.new-post-text-and-picture :focus {
  border: unset;
  outline-offset: unset;
  outline: unset;
  color: unset;
}
.new-post-text-and-picture .new-post-picture {
  font-size: 20px;
}
.new-post-text-and-picture .new-post-picture svg {
  font-size: 26px;
  stroke-width: 24px;
  stroke: #312E3E !important;
  color: transparent;
}
.new-post-text-and-picture .new-post-picture :focus {
  color: #312E3E;
}

.home-card-description-reply {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 15px 41px 30px 48px;
}
.home-card-description-reply form {
  width: 82%;
}
.home-card-description-reply .duo-update-btn-profil {
  margin-top: 10px;
}

.home-card-description-comment {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 30px 41px 30px 48px;
}
.home-card-description-comment form {
  width: 100%;
}
.home-card-description-comment .duo-update-btn-profil {
  margin-top: 10px;
}

.home-card-modify-reply {
  display: flex;
  justify-content: flex-end;
}

.home-actuality-new-reply .home-card-container {
  box-shadow: unset;
}

.new-post-picture #file,
#fileReply {
  display: none;
}

.my-comment {
  width: max-content;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

@media (max-width: 720px) {
  #create-comment {
    width: 95%;
  }
  .home-actuality {
    width: 95%;
    margin-left: 9px;
  }
  .home-card-container {
    width: 100%;
  }
  .home-card-description-status {
    margin: 0;
  }
  .home-card-description-name {
    margin: 0;
  }
  .home-card-description p {
    font-size: 12px;
  }
  .home-actuality .home-card-post .home-card-description {
    padding: 4px 18px 5px 18px;
  }
  .home-actuality .home-card-post .home-card-userProfil {
    padding: 20px 16px 10px 16px;
  }
  .home-card-userStatus {
    display: flex;
    column-gap: 48px;
    align-items: flex-start;
  }
  .home-card-userStatus .home-card-description-name {
    font-size: 13px;
  }
  .home-card-userStatus .home-card-description-status {
    font-size: 12px;
  }
  .home-card-userStatus .home-card-description-date {
    font-size: 12px;
    margin: 0;
  }
  .home-cardreply-container {
    width: 100%;
    margin-left: 10px;
  }
  .home-image-post-container {
    height: auto;
    width: auto;
    overflow: hidden;
  }
  .image-profil-form-home {
    height: 32px;
    width: 32px;
  }
  .home-card-reaction-container .iconEmpty {
    font-size: 20px;
  }
  .icon-modifier {
    font-size: 18px;
  }
  .home-card-reaction-container .heartFull {
    font-size: 18px;
  }
  .image-profil-form-home-reply {
    height: 34px;
    width: 34px;
    overflow: hidden;
  }
  .home-profil-names-reply {
    justify-content: space-between;
    flex-direction: column;
  }
  .home-card-userStatus-reply {
    padding: 13px 14px;
  }
  .home-card-userStatus-reply .home-card-usersStatus-second-col {
    display: flex;
    justify-content: space-between;
  }
  .home-cardreply-container .home-cardreply-userProfil {
    column-gap: 10px;
  }
  .home-image-reply-container {
    width: 184px;
  }
  .home-cardreply-container .home-cardreply-description {
    width: 158px;
  }
  .home-actuality-new-comment {
    margin-top: 100px;
  }
}
/*sign-up*/
.size-column-form {
  width: 100%;
}
.size-column-form h1 {
  margin-top: 5px;
  font-size: 27px;
}

label {
  padding-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}

.input-form input {
  padding: 15px 12px;
  border-radius: 2em;
  border: 1.5px solid #312e3e;
  width: 90%;
}

input[type=text i],
input[type=password i],
input[type=email i] {
  padding: 15px 12px;
  border-radius: 2em;
  border: 1.5px solid #312e3e;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

input[type=text i],
input[type=password i]:focus-visible {
  outline: none;
}

b {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding-left: 11px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.is-invalid {
  border: 2px solid red !important;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.from-signup {
  width: 251px;
}

.form-signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-signup-content .form-signup-element {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
}
.form-signup-content .form-signup-element .sucess {
  font-size: 14px;
  color: #3c68aa;
  font-weight: 500;
}

.RegisterorSignup {
  margin-left: 6vw;
  font-size: 12px;
}

.clearfix {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 18px;
}

/*connexion*/
.bloc-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-connexion .bloc-connexion-content {
  box-shadow: 0px 0px 20px rgba(60, 104, 170, 0.35);
  padding: 22px 60px 24px 60px;
  margin-bottom: 60px;
}
.bloc-connexion .bloc-connexion-content .bloc-connexion-element {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 17px;
  width: 18vw;
}
.bloc-connexion .logo {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.active-btn-connexion {
  display: none;
}

.btn-bleu-navy {
  padding: 14px 60px;
  border-radius: 1.5em;
  color: #fff;
  text-align: center;
  background-color: #312e3e;
  box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
}

.btn-bleu {
  padding: 14px 60px;
  border-radius: 1.5em;
  color: #fff;
  text-align: center;
  border-width: 0px;
  box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
  background-color: #3c68aa;
  cursor: pointer;
}
.btn-bleu:hover {
  background-color: #1e4278;
}

button {
  border: none;
}

.btn-blanc {
  padding: 12px 60px;
  border-radius: 1.5em;
  border: 1.5px solid #312e3e;
  color: #312e3e;
  text-align: center;
  box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
  background-color: #fff;
  cursor: pointer;
}

.btn-connexion {
  margin-top: 22px;
}

.choice-signup-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 38px;
  font-size: 12px;
}
.choice-signup-login .RegisterorSignup {
  font-size: 12px;
  text-align: center;
}

#loginRegister:hover, #register:hover {
  color: #1e4278;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .bloc-connexion .bloc-connexion-content {
    padding: 0px;
  }
  .bloc-connexion .bloc-connexion-content .bloc-connexion-element {
    width: 100%;
  }
  .form-signup-content {
    padding: 20px 40px;
  }
}
@media (max-width: 720px) {
  .form-signup-content .form-signup-element {
    width: auto;
    padding-top: 0px;
    padding-left: 24px;
    padding-right: 23px;
  }
  .size-column-form h1 {
    margin-top: 5px;
    font-size: 20px;
  }
  .bloc-connexion .logo {
    padding-left: 94px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 14px;
    width: 40%;
    border-radius: unset;
  }
  .form-signup-content {
    padding: 0px 0px;
  }
  input[type=text i], input[type=password i]:focus-visible {
    width: auto;
  }
  .input-form input {
    width: auto;
    padding: 10px 2px;
  }
  .bloc-connexion .bloc-connexion-content {
    padding: 0px;
  }
  .bloc-connexion .bloc-connexion-content .bloc-connexion-element {
    width: auto;
  }
  .choice-signup-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 38px;
    font-size: 12px;
  }
  .choice-signup-login .RegisterorSignup {
    font-size: 12px;
    text-align: center;
  }
  .size-column-form {
    width: auto;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 23px;
  }
}
.profil-container {
  margin-bottom: 136px;
}

.profil-actuality {
  margin-top: 160px;
}

.profil-card-post .profil-card-userProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil-card-post .profil-card-userProfil .profil-card-usersStatus-second-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil-card-post .profil-card-userProfil .profil-card-usersStatus-second-col .profil-card-description-name {
  display: flex;
  column-gap: 5px;
}
.profil-card-post .profil-card-userProfil .profil-card-usersStatus-second-col .profil-card-description-name p {
  font-size: 17px;
  margin-bottom: 4px;
  margin-top: 0px;
  font-weight: 500;
}
.profil-card-post .profil-card-userProfil .profil-card-usersStatus-second-col .profil-card-description-email {
  margin: 0;
  color: #3B68AA;
  font-size: 14px;
}
.profil-card-post .profil-card-userProfil .profil-card-usersStatus-second-col .profil-card-description-status {
  margin-top: 4px;
  font-weight: 300;
}
.profil-card-post .image-form {
  height: 124px;
  width: 124px;
  overflow: hidden;
}

.profil-card-userStatus {
  width: 100%;
}

.upload-pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-pic .update-btn-profil {
  border: none;
}

.image-align-col {
  height: 155px;
}

.user-name-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  border-radius: 50%;
}

.btn-plus {
  position: relative;
  bottom: 100px;
  right: 20px;
  border: none;
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  padding: 6px 12px 35px 12px;
  height: 0;
  box-shadow: 0px 0px 20px rgba(60, 104, 170, 0.35);
}

.form-profil-nom-prenom {
  display: flex;
  column-gap: 10px;
}
.form-profil-nom-prenom .form-profil-flex-label {
  display: flex;
  flex-direction: column;
}

.update-btn-profil {
  width: 100%;
  padding: 10px 11px;
  color: #171717;
}

.btn-cancel-profil {
  margin-top: 17px;
  border: 1px solid #8c8b8d;
  color: #8c8b8d;
  margin-bottom: 36px;
}

.duo-update-btn-profil {
  margin-top: 20px;
}

.btn-connexion-profil {
  display: flex;
  margin-top: 78px;
  flex-direction: column;
  row-gap: 26px;
  align-items: stretch;
  width: 100%;
}
.btn-connexion-profil .btn-profil-logout {
  border-radius: 1.5em;
  padding: 10px 0px;
  background: unset;
  border: 2px solid;
  cursor: pointer;
}
.btn-connexion-profil .btn-profil-delete {
  border-radius: 1.5em;
  padding: 10px 0px;
  background: unset;
  border: 2px solid #b8b6bf;
  color: #8c8b8d;
  cursor: pointer;
}

@media (max-width: 720px) {
  .image-align-col {
    height: 103px;
  }
  .profil-card-post .image-form {
    height: 84px;
    width: 84px;
    overflow: hidden;
  }
  .btn-connexion-profil {
    margin-top: 40px;
  }
  .btn-plus {
    bottom: 76px;
    right: 9px;
    font-size: 18px;
    padding: 6px 11px 27px 12px;
    height: 0;
    box-shadow: -7px -3px 9px rgba(60, 104, 170, 0.35);
  }
  .profil-actuality {
    margin-top: 120px;
  }
}
/*navbar*/
.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 20px rgba(60, 104, 170, 0.22);
  top: 0;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content a {
  color: black;
}
.header-content .profil-icon {
  font-size: 21px;
  padding-left: 135px;
}
.header-content .logo {
  padding-left: 24px;
  padding-right: 0px;
  width: 79%;
}
.header-content .active .logo {
  padding-left: 177px;
  padding-right: 0px;
  width: 52%;
}

.active .profil-icon {
  display: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 70px;
  padding: 8px 0px 0px 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-element {
  color: black;
  display: flex;
  flex-direction: column;
}
.navbar-element .linkName {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 12px;
  margin-top: 0;
}
.navbar-element .linkicon {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 720px) {
  .header-content img {
    padding-left: 50px;
    width: 157px;
  }
  .header-content .profil-icon {
    padding-left: 0px;
    padding-right: 33px;
    color: black;
  }
  .header-content .active .logo {
    padding-left: 88px;
    padding-right: 0px;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 52%;
  }
  .header-content .logo {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 140px;
    height: 100%;
  }
  .header-content .navbar-container {
    column-gap: 28px;
  }
  .header-content .navbar-element p {
    flex-direction: column;
    align-items: center;
    width: 20vw;
    font-size: 10px;
  }
  .header-content .navbar-element p svg {
    font-size: 24px;
  }
  .img-comment-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .home-card-description-comment {
    padding: 17px 14px 17px 14px;
    column-gap: 11px;
  }
  .btn-update-comment {
    width: 117px;
    padding: 6px 16px;
  }
  .new-post-text-and-picture {
    padding: 4px 14px;
    column-gap: 15px;
    /* background: white; */
  }
  .new-post-text-and-picture .new-post-picture svg {
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
