@import "../utils/mixin";
@import "../utils/variables";


@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
  }
  
  body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  li,
  span,
  p,
  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    white-space: normal ;
  }
  
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  
  
  /*home*/
   .home-actuality {
    width: 50%;
    margin-left: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

      .home-card-post {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 38px;

          .home-card-userProfil {
            column-gap: 20px;
            display: flex;
            justify-content: space-between;
            padding: 28px 41px 15px 41px;
          }

          .home-card-description {
            background-color: #FBFCFC;
            padding: 15px 41px 30px 41px;
        }
      
         
      }
  }

  .home-card-userStatus {
    display: flex;
    column-gap: 48px;
    align-items: flex-start;
  .home-card-description-name {
  font-size: 16px;
  margin-bottom: 0;
  }
  .home-card-description-status{
    font-size: 12px;
    margin: 0;
  }
  .home-card-description-date{
    font-size: 12px;
    margin-top: 17px;
  }
}

.home-card-container {
  width: 728px;
  box-shadow: $shadow-blue;
}

.image-profil-form-home {
  height: 100px;
  width: 100px;
    overflow: hidden;
}

.image-profil-form-home-reply {
  height: 70px;
  width: 70px;
    overflow: hidden;
}

.home-profil-names {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
}

.home-image-post {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  }



.home-image-post-container {
  height: 368px;
  width: 642px;
  overflow: hidden;
}

.home-card-reaction-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 54px;
  padding: 0px 14px 0px 43px;
  .home-icon-post{
    font-size: 20px;
    svg {
      font-size: 26px;
      stroke-width: 24px;
      stroke: black !important;
      color: transparent;
  }
  }
}


.home-cardreply-actuality {
    width: 100%; 
    margin-left: 0%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


/*partie cardreply*/

.home-cardreply-container {
  width: 658px;
  margin-left: 32px;
  border-top: 1.5px solid #d0d0d0;
 
  .home-cardreply-userProfil {
    column-gap: 20px;
    display: flex;
    padding: 28px 16px 15px 16px;
  }
  .home-cardreply-description {
    padding: 10px 16px 36px 16px;
  }
  
}

.home-card-usersStatus-second-col p{
  margin-top: 4px;
  margin-bottom: 0px;
}

.home-card-left-part {
  display: flex;
  column-gap: 20px;

}

.icon-modifier {
  font-size: 22px;
  display: flex;
    column-gap: 23px;
}

.updateComment textarea {
  width: 100%;
    height: 100px;
    resize: none;
}

.btn-update-comment {
  @include btn-update-comment;
  float: right;
  p {
    margin: 0;
  }
}

.button-UpdateComment {
  margin-top: 24px;
}


  @media (max-width: 720px) {

    .home-actuality {
      width: 100%;
      margin-left: 0px;
    }

    .home-card-container {
      width: 276px;
     
    }

  .home-card-description-status {
    margin: 0;

   
  }
 .home-card-description-name {
      margin: 0;
    }

    .home-card-description p {
      font-size: 12px;
     
    }
  
    .home-actuality .home-card-post
    .home-card-description {
       padding: 0px 41px 20px 41px;
    }
  
    .home-actuality .home-card-post .home-card-userProfil {
    padding: 20px 16px 10px 16px;

     
    }
  
    .home-card-userStatus {
        display: flex;
        column-gap: 48px;
        align-items: flex-start;
      .home-card-description-name {
      font-size: 13px;
      }
      .home-card-description-status{
        font-size: 12px;
      }
      .home-card-description-date{
        font-size: 12px;
        margin: 0;
      }
    }

    .home-cardreply-container {
      width: 100%;
  }
    
  } 