@import "../utils/mixin";
@import "../utils/variables";


@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
  }
  
  body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  li,
  span,
  p,
  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  
  
  /*home*/
   .home-actuality {
    width: 50%;

      .home-card-post {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: $shadow-blue;
        margin-bottom: 42px;

          .home-card-userProfil {
            column-gap: 20px;
            display: flex;
            padding: 28px 41px 30px 41px;
            
            img {
            border-radius: 50%;
            width: 31%;
            height: 100%;
            }
          }

          .home-card-description {
            background-color: #FBFCFC;
            padding: 28px 41px 30px 41px;
        }
      
         
      }
  }
 

  .home-card-description-status {
    margin: 0;

   
  }
 .home-card-description-name {
      margin-bottom: 0;
    }

  