@import "../utils/mixin";
@import "../utils/variables";


@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
  }
  
  body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  li,
  span,
  p,
  a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    white-space: normal ;
    font-size: 14px;
  }
  
  a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  
  
  /*home*/
   .home-actuality {
    width: max-content;
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

 .home-card-post {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 38px; 
      }

  .home-card-description {
            background-color: #FBFCFC;
            padding: 15px 41px 30px 41px;
   }

  .home-card-userProfil {
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    padding: 28px 41px 15px 41px;
  }

  .home-actuality-new-comment {
    margin-top: 122px;
  }

  .home-card-userStatus {
    display: flex;
    column-gap: 48px;
    align-items: flex-start;
  .home-card-description-name {
  font-size: 16px;
  margin-bottom: 0;
  }
  .home-card-description-status{
    font-size: 12px;
    margin: 0;
  }
  .home-card-description-date{
    font-size: 12px;
    margin-top: 10px;
  }
}

.home-card-container {
  width: 728px;
  box-shadow: $shadow-blue;
  border-radius: 1.5em;
}

.image-profil-form-home {
  height: 80px;
  width: 80px;
    overflow: hidden;
}

.image-profil-form-home-reply {
  height: 64px;
  width: 64px;
    overflow: hidden;
}

.home-profil-names {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
}

.home-image-post {
  object-fit: scale-down;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  }



.home-image-post-container {
  height: 218px;
    width: 100%;
  overflow: hidden;
}

.home-image-reply-container {
  height: 100%;
  width: 264px;
  overflow: hidden;
}

.img-comment-content {
  background: #F6F6F6;
    border-radius: 0em 1.5em 1.5em 1.5em;
    padding: 15px 31px;
    width: 44%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    column-gap: 26px;
    margin-top: 20px;
}

.img-comment-form {
  margin-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.img-comment-size {
  height: 118px;
  width: 168px;
  overflow: hidden;
  .img-comment {
  object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}
}


.home-card-reaction-container {
  display: flex;
  justify-content: flex-start;
  column-gap: 14px;
  padding: 0px 14px 0px 43px;
  .home-icon-post{
    font-size: 20px;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 1.5em;
    cursor: pointer;
    &:hover {
      margin: 10px;
      background: #F6F6F6;
      padding: 10px;
      border-radius: 1.5em;
    }
    
  } 

  .heartEmpty {
    @include icon-vide;
  }
  .iconEmpty {
    @include icon-vide;
  } 

.active-none-empty{
  display: none;
} 

.heartFull {
  font-size: 26px;
  stroke-width: 24px;
    color: red;
  
  }

  .notFull {
    display: none;
   }

  .active-comment {
    margin: 10px;
    color: transparent; 
    background: #F6F6F6;
      padding: 10px;
      border-radius: 1.5em;
    svg {
      font-size: 26px;
      stroke-width: 24px;
      stroke: #312E3E !important;
  }
  
  .heartFull {
        color: black;
      }
  .heartEmpty {
    color: transparent; 
  }
  }
}

.comment-and-numbers {
  display: flex;
    align-items: center;
}


.home-cardreply-actuality {
    width: 100%; 
    margin-left: 0%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


/*partie cardreply*/

.home-cardreply-container {
  width: 658px;
  margin-left: 32px;
  border-top: 1.5px solid #d0d0d0;
 
  .home-cardreply-userProfil {
    column-gap: 20px;
    display: flex;
    padding: 28px 16px 15px 16px;
  }
  .home-cardreply-description {
    padding: 10px 16px 10px 0px;
  }
  
}

.home-cardreply-description-text {
  padding: 10px 0px 10px 0px;
}

.home-profil-names-reply {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
  justify-content: space-between;
  .home-card-usersStatus-second-col p{
    font-weight: 400;
  }
  .home-card-description-date {
    font-weight: 400;
  }
}

.home-card-userStatus-reply {
  background: #F6F6F6;
    border-radius: 0em 1.5em 1.5em 1.5em;
    padding: 15px 31px;
    width: 100%;
}

.home-profil-names-container-reply {
  display: flex;
  column-gap: 3px;
}

.home-profil-names-and-status-reply {
  display: flex;
    flex-direction: column;
}

.home-card-usersStatus-second-col p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-card-left-part {
  display: flex;
  column-gap: 20px;

}

.icon-modifier {
  font-size: 22px;
  display: flex;
    column-gap: 23px;
}

textarea {
 @include textarea-style;
}

.btn-update-comment {
  @include btn-update-comment;
  float: right;
  margin-bottom: 0px;
  cursor: pointer;
  p {
    margin: 0;
  }
  &:hover {
    background-color: #1e4278;
  }
}

.button-UpdateComment {
  margin-top: 24px;
}

.new-post-text-and-picture {
  display: flex;
    align-items: center;
    border-radius: 1.5em;
    border: 1px solid;
    padding: 12px;
    column-gap: 43px;
    background: white;
    textarea {
      border: none;
      padding: 0;
    }
    :hover {
      border: unset;
      outline-offset: unset;
    outline: unset;
    color: unset;
    }
    :focus{
      border: unset;
      outline-offset: unset;
    outline: unset;
    color: unset;
    }
    .new-post-picture{
      font-size: 20px;
      svg {
        font-size: 26px;
        stroke-width: 24px;
        stroke: #312E3E !important;
        color: transparent; 
    }
    :focus{
      color: #312E3E; 
    }
  } 
}

.home-card-description-reply{
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 15px 41px 30px 48px;
  form {
    width: 82%;
  }
  .duo-update-btn-profil {
    margin-top: 10px;
}

}

.home-card-description-comment {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  padding: 30px 41px 30px 48px;
  form {
    width: 100%;
  }

  .duo-update-btn-profil {
    margin-top: 10px;
}
}


.home-card-modify-reply {
  display: flex;
    justify-content: flex-end;
}


.home-actuality-new-reply {
  .home-card-container {
    box-shadow: unset;
  }
}

.new-post-picture
#file, #fileReply {
  display: none;
}

.my-comment {
  width: max-content;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}


  @media (max-width: 720px) {

    #create-comment {
      width: 95%;
    }

    .home-actuality {
      width: 95%;
      margin-left: 9px;
      margin-top: 16px;
    }

    .my-comments .home-actuality {
      width: 95%;
    margin-left: 2px;
    margin-top: 16px;
    display: block;
    }

    .home-card-container {
      width: 100%;
    }

  .home-card-description-status {
    margin: 0;

   
  }
 .home-card-description-name {
      margin: 0;
    }

    .home-card-description p {
      font-size: 12px;
     
    }
  
    .home-actuality .home-card-post
    .home-card-description {
      padding: 4px 18px 5px 18px;
    }
  
    .home-actuality .home-card-post .home-card-userProfil {
    padding: 20px 16px 10px 16px;
    }

    .home-card-post {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 10px;
    }
  
    .home-card-userStatus {
        display: flex;
        column-gap: 48px;
        align-items: flex-start;
      .home-card-description-name {
      font-size: 13px;
      }
      .home-card-description-status{
        font-size: 12px;
      }
      .home-card-description-date{
        font-size: 12px;
        margin: 0;
      }
    }

    .home-cardreply-container {
      width: 100%;
      margin-left: 10px;
  }

  .home-image-post-container {
    height: auto;
    width: auto;
    overflow: hidden;
  }

  
  .image-profil-form-home {
    height: 32px;
    width: 32px;
  }

  .home-card-reaction-container .iconEmpty {
    font-size: 20px;
  }

  .icon-modifier {
    font-size: 18px;
  }

  .home-card-reaction-container .heartFull {
    font-size: 18px;
  }

  .image-profil-form-home-reply {
    height: 34px;
    width: 34px;
    overflow: hidden;
  }

  .home-profil-names-reply {
    justify-content: space-between;
    flex-direction: column;
  }

  .home-card-userStatus-reply {
    padding: 13px 14px;
    .home-card-usersStatus-second-col {
    display: flex;
    justify-content: space-between;
  }
  }

  .home-cardreply-container .home-cardreply-userProfil {
    column-gap: 10px; 
  }

  .home-image-reply-container {
    width: 184px;
  }


  .home-cardreply-container .home-cardreply-description {
    width: 158px;
  }

  .home-actuality-new-comment {
    margin-top: 73px;
  }
  
    
  } 