/*navbar*/
  
.home-container  {
    display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .header {
    width: 100%;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 20px rgb(60 104 170 / 22%);
    top: 0;
  }

  .my-comments .header-content .logo {
    padding-left: 36vw;
    padding-right: 76px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 131px;
  }

  
  .header-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: black;
    }

    .profil-icon {
      font-size: 21px;
      padding-left: 135px;
    }

    .logo {
      padding-left: 24vw;
      padding-right: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 131px;
  }
    
    .active {
     .logo {
      padding-left: 36vw;
      padding-right: 76px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 131px;
    }
   }
  }

  .active {
    .profil-icon {
      display: none;
    }
  }
  
  .navbar-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    column-gap: 70px;
    row-gap: 22px;
    padding: 33px 80px 0px 38px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 11px rgba(60, 104, 170, 0.48);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 65px;
  }
  
  .navbar-element {
    color: black;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
      .linkName{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 12px;
        margin-top: 0;
      }
      
      .linkicon {
        margin: 0;
        font-size: 24px;
        text-align: center;
      }
  }

  .alert-image {
    display: flex;
    align-items: center;
    background-color: rgb(247, 101, 101);
    color: white;
    padding: 10px;
  }

 
  
  @media (max-width: 1245px) {

    .navbar-container {
      column-gap: 28px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: unset;
    }
    
    .navbar-element
    {
      flex-direction: column;
      column-gap: 18px; 
    }  
  }

  
  @media (max-width: 720px) {

    .my-comments .header-content .logo {
      padding-left: 88px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 131px;
    }

    .header-content {
      
        width: 95%;
    
          img {
          padding-left: 50px;
          width: 157px;
        }

        .profil-icon {
          padding-left: 0px;
          padding-right: 33px;
          color: black;
        }

        .active {
          .logo {
            padding-left: 88px;
            padding-right: 40px;
            padding-top: 14px;
            padding-bottom: 10px;
            width: 131px;
      
         }  
    }
    
    .logo {
      padding-left: 88px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 131px;
         }

  
    

  .navbar-container {
    column-gap: 28px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
  }
  
  .navbar-element
  {
    flex-direction: column;
    column-gap: 18px; 

    p{
   
    align-items: center;
    width: 20vw;
    font-size: 10px;
    svg {
    font-size: 24px;
    }
  } 
  }
  }

  .img-comment-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .home-card-description-comment {
    padding: 17px 14px 17px 14px;
    column-gap: 11px;
  }

  .btn-update-comment {
    width: 117px;
    padding: 6px 16px;
  }

  .new-post-text-and-picture {
    padding: 4px 14px;
    column-gap: 15px;
    /* background: white; */
  }

  .new-post-text-and-picture .new-post-picture svg {
    font-size: 18px;
  }

    
  }
  