@import "../utils/mixin";
@import "../utils/variables";

.profil-container {
    margin-bottom: 136px;
}

.profil-actuality {
    margin-top: 160px;
}

.profil-card-post {
    .profil-card-userProfil {
    display: flex;
    flex-direction: column;
    align-items: center; 
    .profil-card-usersStatus-second-col{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .profil-card-description-name {
            display: flex;
            column-gap: 5px;
            p{
                font-size: 17px;
                margin-bottom: 4px;
                margin-top: 0px;
                font-weight: 500;
            }
            }

            .profil-card-description-email {
                margin: 0;
                color: #3B68AA;
                font-size: 14px;
            }

            .profil-card-description-status {
                margin-top: 4px;
                font-weight: 300;
            }

        }
    }

      .image-form {
        height: 124px;
        width: 124px;
        overflow: hidden;
}

}

.profil-card-userStatus {
    width: 100%;
}

.upload-pic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .update-btn-profil {
        border: none;
    }
}

.image-align-col {
    height: 155px;
}

.user-name-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    border-radius: 50%;

}

.btn-plus {
    position: relative;
    bottom: 100px;
    right: 20px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
    padding: 6px 12px 35px 12px;
    height: 0;
    box-shadow: $shadow-blue;

}



.form-profil-nom-prenom{
    display: flex;
    column-gap: 10px;

    .form-profil-flex-label {
        display: flex;
        flex-direction: column;
    }
}

.update-btn-profil{
    @include btn-send-profil;
    color: #171717;
}

.btn-cancel-profil {
    @include btn-cancel-profil;
}

.duo-update-btn-profil {
    margin-top: 20px;
}

.btn-connexion-profil {
    display: flex;
    margin-top: 78px;
    flex-direction: column;
    row-gap: 26px;
    align-items: stretch;
    width: 100%;

    .btn-profil-logout{
        border-radius: 1.5em;
        padding: 10px 0px;
        background: unset;
        border: 2px solid;
    }

    .btn-profil-delete {
        border-radius: 1.5em;
        padding: 10px 0px;
        background: unset;
        border: 2px solid #b8b6bf;
        color: #8c8b8d;
    }
}