$shadow-blue: 0px 0px 20px rgb(60 104 170 / 35%);
$shadow-blue-btn: 0px 5px 11px rgba(60, 104, 170, 0.48);
$btn-background-color-blue:  #3c68aa;
$btn-background-color-blue-navy: #312e3e;
$btn-background-color-white: #fff;